* {
    padding: 0;
    margin: 0;
}



a:hover{
    color: var(--main-color) !important;
}

/* Set Variables */

:root {
    --main-color: #582F6B;
    --light-text: #888888; 
}

/* --- Navbar styling -- */

.navbar-brand {
    color: var(--main-color);
}
.logo{
    margin: 5px 15px 0 60px;
    width: 20%;
}

.bg-light{
    background: none !important;
}
.nav-link{
    color: var(--main-color);  
}

/* --- Hero Styling -- */

.main{
    margin: 50px auto 0;
    width: 80%;
}


#particles-js{
    position: absolute;
    width: 100%;
    z-index: -12;
    height: 100%;
}
.main{
   position: absolute;
    top: 100px;
    left: 100px;
}
.workButton{
    display: block;
    margin: auto;
    color: #fff;
    width: 150px;
    background-color: var(--main-color);
}

svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

/* -- Skills table -- */

.skills{
    z-index: 1;
    height: 600px;
}

.skills i{
    color: var(--main-color);
    margin: 20px 0;
    font-size: 30px;
    width: 100px;
    margin: 30px 0 35px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}



.skills h4{
    margin-bottom: 20px;
}
.text{
    line-height: 35px;
    padding: 0 15px;
    color: var(--light-text);
}

.skillTitle {
    color: var(--main-color);
}

.skills li {
    line-height: 35px;
}

.skills .col-4{
    text-align: center;
}

.software{
    border-right: 1px solid rgba(39, 39, 38, 0.11)
}
.frontEnd{
    border-right: 1px solid rgba(39, 39, 38, 0.11)
}

.card{
    width: 100%;
    position: absolute;
    top: 75px;
    border-radius: 10px;
    background: #fff;
    transform: scaleX(0);
    transform-origin:  right; 
    z-index: 1; 
    
}

.feContent{
    opacity: 0;
}

.beContent{
    opacity: 0;
}



ul{
    list-style-type: none;
    color: var(--light-text);
}

.background{
    margin-top: 20px;
    background: var(--main-color);
    height: 750px;
}


/* -- Footer styling -- */

.footer{
  text-align: center;
}

.logoFooter {
    width: 10%;
}

.spacer{
    margin-top: 20px;
}



/* -- Work page styling -- */

.thumbnail{
    width: 275px;
}
.highlight {
    color: var(--main-color); 
}

.workTitle{
    font-size: 60px;
    padding: 80px;
    text-align: center;
    color: #888888;
}

.projects{
    padding-bottom: 80px;
}

/* -- Details page styling -- */

.projectTitle{
    margin-top: 100px;
}

.featuredImage{
    width: 35em;
}

.projectContainer{
    margin-top: 85px;
    padding: 0;
}

.backgroundColor {
    height: 250px;
    background: var(--main-color);
}

.backgroundColor p {
    color: #fff;
}

