* {
    padding: 0;
    margin: 0;
}

a:hover{
    color: var(--main-color) !important;
}

/* Set Variables */

:root {
    --main-color: #582F6B;
    --light-text: #888888; 
}

canvas {
    display: block; 
}

.testMain{
    position: absolute;
    top: 100px;
    margin-top: 70px;
}

/* --- Navbar styling -- */

.navbar{
    display: none;
}

.navbar-brand {
    color: var(--main-color);
}
.logo{
    margin: 5px 15px 0 60px;
    width: 20%;
}

.bg-light{
    background: none !important;
}
.nav-link{
    color: var(--main-color);  
}

/* --- Hero Styling -- */

.main{
    margin: 0 auto;
    width: 100%;
    text-align: center;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}





/* -- Footer styling -- */

.footer{
  text-align: center;
}

.logoFooter {
    width: 10%;
}

.spacer{
    margin-top: 20px;
}



/* -- Work page styling -- */

.thumbnail{
    width: 275px;
}
.highlight {
    color: var(--main-color); 
}

.workTitle{
    font-size: 60px;
    padding: 80px;
    text-align: center;
    color: #888888;
}

.projects{
    padding-bottom: 80px;
}

/* -- Details page styling -- */

.projectTitle{
    margin-top: 100px;
}

.featuredImage{
    width: 35em;
}

.projectContainer{
    margin-top: 85px;
    padding: 0;
}

.backgroundColor {
    height: 250px;
    background: var(--main-color);
}

.backgroundColor p {
    color: #fff;
}

